environment                        = "prod"
location                           = "uksouth"
subscription_id                    = "<subscription-id>"
search_sku                         = "standard"
key_vault_purge_protection_enabled = true
chat_capacity                      = 20
embedding_capacity                 = 20
